# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [116]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# gmaps
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [117]:
print(g_key)

YAIzaSyBrkxKFD1on2N8ELnAiWu5EqV0pqSlMjn0

In [118]:
vacation_df = pd.read_csv('../WeatherPy/Output_CSV/weather_data.csv')

vacation_df.dropna(inplace=True)
vacation_df.head(10)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Hobart,20,AU,1593576079,62,-42.88,147.33,57.20,11.41
1,1,Kavieng,26,PG,1593576097,75,-2.57,150.80,83.73,10.40
2,2,Tsimmerbude,25,RU,1593576098,72,54.67,20.13,62.60,8.95
3,3,Naze,75,JP,1593576099,100,28.37,129.48,77.00,17.22
4,4,Paamiut,100,GL,1593575945,95,61.99,-49.67,39.16,2.73
5,5,Morros,0,BR,1593576102,50,-9.45,-46.30,69.91,2.26
6,6,Viedma,49,AR,1593576103,90,-40.81,-63.00,40.98,1.68
7,7,Ahipara,19,NZ,1593576104,76,-35.17,173.17,55.62,14.92
8,8,Busselton,74,AU,1593576105,86,-33.65,115.33,55.99,4.00
9,9,Jamestown,1,US,1593576106,82,42.10,-79.24,64.40,2.64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [119]:
#lock in Lat & Lng locations
locations = vacation_df[["Lat","Lng"]]
humidity = vacation_df['Humidity']

fig = gmaps.figure()

#heat map overlay creation
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                  dissipating=False, max_intensity=100,
                                  point_radius=1)

#implement heat map layer
fig.add_layer(heat_layer)

fig

#NOTE: Not sure why the map is not displaying, my key is correct, active and being called from correct file. 
# I tried trouble shooting via instructions below, google search, and worked with one of the TA's. The TA think
# it might be an issue with my google mpas API account

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [120]:
vacation_locations = vacation_df.loc[(vacation_df["Max Temp"]<=75)&(vacation_df["Max Temp"]>=60)&
                                     (vacation_df["Humidity"]<=85)&
                                     (vacation_df["Cloudiness"]<=50)]

vacation_locations.head(20)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
2,2,Tsimmerbude,25,RU,1593576098,72,54.67,20.13,62.60,8.95
5,5,Morros,0,BR,1593576102,50,-9.45,-46.30,69.91,2.26
9,9,Jamestown,1,US,1593576106,82,42.10,-79.24,64.40,2.64
14,14,Saint-Philippe,0,RE,1593576112,48,-21.36,55.77,66.20,9.17
29,29,Rikitea,24,PF,1593576096,66,-23.12,-134.97,69.22,21.34
35,35,Homer,1,US,1593576136,67,59.64,-151.55,60.01,17.22
38,38,Mizdah,0,LY,1593576139,49,31.45,12.98,66.79,0.34
39,39,Zyryanka,44,RU,1593576140,30,65.75,150.85,66.06,9.62
44,44,Rassvet,1,RU,1593576146,67,46.83,40.75,73.63,2.48
54,54,Murray Bridge,33,AU,1593575965,50,-35.12,139.27,66.99,20.36
72,72,Mossamedes,0,AO,1593576177,74,-15.20,12.15,67.91,6.13
74,74,Florianópolis,0,BR,1593576033,59,-27.61,-48.50,66.00,23.04
75,75,San Cristobal,33,VE,1593576181,82,7.77,-72.22,65.35,2.44
77,77,Kiama,37,AU,1593576183,62,-34.68,150.87,71.01,7.00
83,83,Aktau,0,KZ,1593576190,73,43.65,51.20,73.40,13.42
97,97,Dalby,18,AU,1593576206,40,-27.18,151.27,68.00,8.05
117,117,Safi,0,MA,1593576228,83,32.30,-9.24,68.11,13.24
126,126,Zavallya,0,UA,1593576238,82,48.21,30.02,64.40,6.89
134,134,Inhambane,35,MZ,1593576247,78,-23.86,35.38,65.93,9.78
136,136,São Filipe,18,CV,1593576250,79,14.90,-24.50,73.13,2.37

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [121]:
hotel_df = vacation_df
hotel_df["Hotel Name"]= ""
hotel_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,0,Hobart,20,AU,1593576079,62,-42.88,147.33,57.20,11.41,
1,1,Kavieng,26,PG,1593576097,75,-2.57,150.80,83.73,10.40,
2,2,Tsimmerbude,25,RU,1593576098,72,54.67,20.13,62.60,8.95,
3,3,Naze,75,JP,1593576099,100,28.37,129.48,77.00,17.22,
4,4,Paamiut,100,GL,1593575945,95,61.99,-49.67,39.16,2.73,
...,...,...,...,...,...,...,...,...,...,...,...
562,562,Morondava,0,MG,1593576735,62,-20.28,44.28,67.14,12.77,
563,563,Marsá Maţrūḩ,0,EG,1593576736,68,31.35,27.25,69.80,9.17,
564,564,Diu,46,IN,1593576738,72,20.71,70.98,86.27,6.91,
565,565,Kirakira,35,SB,1593576739,77,-10.45,161.92,81.97,11.48,
566,566,Tighina,0,MD,1593576740,77,46.83,29.47,68.00,2.24,

In [122]:
params = {
            "radius": 5000,
          "type": "lodging",
          "keyword": "hotel",
          "key": g_key
}

for index, row in hotel_df.iterrows():
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat},{lng}"
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?" 
    
    
    response = requests.get(url, params=params)
    
    json_response = response.json()
    #pprint(json_response)
    
    try:
        hotel_df.loc[index, "Hotel Name"] = json_response["results"][0]["name"]
                                                    
    except (KeyError, IndexError):
        print("Skipped Location")
                                                               
hotel_df

#Note: my for loop looks good, but not sure why it's not finding hotel names, in your feedback if you can provide some clarity that would be great.

Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location

Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location
Skipped Location

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,0,Hobart,20,AU,1593576079,62,-42.88,147.33,57.20,11.41,
1,1,Kavieng,26,PG,1593576097,75,-2.57,150.80,83.73,10.40,
2,2,Tsimmerbude,25,RU,1593576098,72,54.67,20.13,62.60,8.95,
3,3,Naze,75,JP,1593576099,100,28.37,129.48,77.00,17.22,
4,4,Paamiut,100,GL,1593575945,95,61.99,-49.67,39.16,2.73,
...,...,...,...,...,...,...,...,...,...,...,...
562,562,Morondava,0,MG,1593576735,62,-20.28,44.28,67.14,12.77,
563,563,Marsá Maţrūḩ,0,EG,1593576736,68,31.35,27.25,69.80,9.17,
564,564,Diu,46,IN,1593576738,72,20.71,70.98,86.27,6.91,
565,565,Kirakira,35,SB,1593576739,77,-10.45,161.92,81.97,11.48,
566,566,Tighina,0,MD,1593576740,77,46.83,29.47,68.00,2.24,

In [131]:
#remove rows with missing hotel names
blank_value = float("NaN")
hotel_df["Hotel Name"].replace("",blank_value,inplace=True)
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)
hotel_df

Empty DataFrame
Columns: [Unnamed: 0, City, Cloudiness, Country, Date, Humidity, Lat, Lng, Max Temp, Wind Speed, Hotel Name]
Index: []

In [124]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [125]:
# Add marker layer ontop of heat map
marker_layer =  gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig
#NOTE: Not sure why the map is not displaying, my key is correct, active and being called from correct file. 
# I tried trouble shooting via instructions below, google search, and worked with one of the TA's. The TA think
# it might be an issue with my google mpas API account

Figure(layout=FigureLayout(height='420px'))